@font-face {
    font-family: 'Elden ring';
    src: url('../fonts/Garamond Premier Pro Regular.ttf');
}

.boss-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Elden ring';
    color: #aba69b;
    text-shadow: 1.5px 1.5px black;
    padding: 1em;
}

.boss-detail:first-child {
    margin-top: 2em;
}

.boss-detail h1 {
    padding: 0.5em;
}

.boss-detail img{
    max-width: 80vw;
    border: 2px solid black;
    border-radius: 2px;
}

.boss-detail p {
    padding: 0.5em;
    justify-content: left;
}

.boss-detail.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}