@font-face {
    font-family: 'Elden ring main';
    src: url('../fonts/Mantinia\ Regular.otf');
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Elden ring main';
    color: #feedbd;
    padding: 1em;
}

.header h1 {
    font-size: 5em;
    text-shadow: 3px 3px black;
}

.header h2 {
    position: absolute;
    top: 4em;
}

.header hr{
    position: absolute;
    top: 8em;
    width: 80%;
    border: 1px solid #feedbd;
}

@media screen and (max-width: 508px) {
    .header h1 {
        font-size: 3em;
    }
}
    